#box{
	border-radius:4px;
	box-shadow:0 0 2px rgba(0,0,0,0.2);
	border:1px solid #8a9ba0;
	background:url('../images/section_bg.png') repeat-x #f0f5f7;
	padding:0 20px 20px;
	margin-bottom: 20px;
	position:relative;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	list-style:none;
	text-align:center;
}

#title{
	margin: 0;
	padding: 0;
	line-height:60px;
	color:#70777a;
	font-size:18px;
	text-align:center;
}

.Container{
	width:600px;
	margin:0px auto;	
}



html{
	background:url('../images/tile_bg.png') #b0b0b0;
	position:relative;
}

body{
	min-height: 300px;
    padding: 0px 0 0;
	font:17px/1.5 'Segoe UI',Arial, sans-serif;
	margin:50px 0px; 
	padding:0px;	
	heigth: 100%;
}

a{
	text-decoration:none;
	cursor:default;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	cursor:default;
}

a:hover{
	text-decoration:none;
	cursor:pointer;
}