

/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('/Haiku/assets/images/tile_bg.png') #b0b0b0;
	position:relative;
}

body{
	/*background:url('/Haiku/assets/images/page_bg_center.jpg') no-repeat center center;*/
	min-height: 500px;
    padding: 0px 0 0;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	
}

a:hover{
	text-decoration:none;
}

section, footer{
	display: block;
}

/*----------------------------
	The Questions
-----------------------------*/


#questions{
	width:500px;
	margin: 0 auto;
    padding: 0 0 140px;
	list-style:none;
	text-align:center;
}

#questions > li{
	border-radius:4px;
	box-shadow:0 0 2px rgba(0,0,0,0.2);
	border:1px solid #8a9ba0;
	background:url('/Haiku/assets/images/section_bg.png') repeat-x #f0f5f7;
	padding:0 20px 20px;
	margin-bottom: 55px;
	position:relative;
}


#questions > li p{
	margin: 0;
	padding: 0;
	line-height:60px;
	color:#70777a;
	font-size:18px;
	margin-bottom:20px;
}

#questions li .divider,
#questions li .divider:before,
#questions li .divider:after{
	content:'';
	position:absolute;
	background-color:#384044;
	width:8px;
	height:8px;
	border-radius:50%;
	bottom:-35px;
	left:50%;
	margin-left:-4px;
}

#questions li .divider:before{
	margin-left:-24px;
	bottom:0;
}

#questions li .divider:after{
	margin-left: 16px;
	bottom:0;
}

#questions > li select{
	width:300px;
}


.chzn-container{
	text-align:left;
}

#preloader{
	height:80px;
	background:url('/Haiku/assets/images/ajax-loader.gif') no-repeat center center;
	width:500px;
	display:none;
	margin: -120px auto 0;
}



/*----------------------------
	The Footer
-----------------------------*/


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px #111111;
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}
