body {
	margin:50px 0px; padding:0px;	
	heigth: 100%;
}

#Container{
	width:500px;
	margin:0px auto;
	-webkit-user-select:none;
	-moz-user-select:none;
	cursor:default;	
}

/* FLAGS */

#flagDK {
	position:absolute;
	right:41px;	
	top:25px;
	cursor:pointer;
}

#tag_select_chzn {
	margin-left: -20px;
	width: 300px;
	margin-top:-15px;
	margin-bottom: 10px;
}

#flagGB {
	position:absolute;
	right:20px;	
	top:25px;
	cursor:pointer;
}

/*Copyright and Share Containers and Styles */

#nameDialogClose{
	width:265px;	
}

#timeDialogClose{
	width:265px;	
}

#Name{
	width:260px;	
}

#TimeClose{
	width:260px;	
}

#TimeInput{
	width:93px;	
}
#dialogSelect{
	width:160px;	
}

.error {
	width:500px;
}

#shareContainer{
	width:500px;
	margin:0px auto;
	margin-top:-35px;
	-webkit-user-select:none;
	-moz-user-select:none;
	cursor:default;	
}

.box-container {
	width:500px;
	margin:0px auto;
	margin-top:-35px;
	-webkit-user-select:none;
	-moz-user-select:none;
	cursor:default;	
}

.disabledPage {
	display: none;
}

.box {
	border-radius:4px;
	box-shadow:0 0 2px rgba(0,0,0,0.2);
	border:1px solid #8a9ba0;
	background: #F0F5F7;
	padding:10px 10px 10px 10px;
	margin-bottom: 55px;
	position:relative;	
	margin-left:auto;
	margin-right:auto;
	list-style:none;
	font-size:18px;
}

.center-text {
	text-align:center;
	vertical-align:middle;
}

#share{
	border-radius:4px;
	box-shadow:0 0 2px rgba(0,0,0,0.2);
	border:1px solid #8a9ba0;
	background: #F0F5F7;
	padding:10px 10px 10px 10px;
	margin-bottom: 55px;
	height:50px;
	position:relative;	
	margin-left:auto;
	margin-right:auto;
	list-style:none;
	font-size:18px;
	text-align:center;
	vertical-align:middle;
}

#copyrightContainer {
	width:500px;
	margin:0px auto;
	margin-top:-35px;
	-webkit-user-select:none;
	-moz-user-select:none;
	cursor:default;		
}

hr {
	margin-top:8px;
}

.header {
	margin-bottom: 2px;
}

.sentence {
	color:#70777a;
}

.sentences {
	padding-left:10px;
	padding-bottom: 3px;
}

#copyright {
	border-radius:4px;
	box-shadow:0 0 2px rgba(0,0,0,0.2);
	border:1px solid #8a9ba0;
	background: #F0F5F7;
	padding:5px 20px 0px 20px;
	margin-bottom: 55px;
	position:relative;	
	margin-left:auto;
	margin-right:auto;
	font-family: "Bonzai";
	color:#CCC;
	font-size:18px;
}
 
.left {
	float: left;
}

/* End of Copyrigth and Share Styles */

.addIcon_WebkitOpera {
	cursor:pointer;
	margin-left:5px;
	vertical-align: middle;
}

.dialogValidationIcon_WebkitFirefox {
	position:absolute;
	right:17px;	
	margin-top:5px;
}
#poemShowcaseContainer {
	width:500px;
	margin:0px auto;
	margin-top:-175px;
	-webkit-user-select:none;
	-moz-user-select:none;
	cursor:default;		
}

#poemShowcase {
	border-radius:4px;
	box-shadow:0 0 2px rgba(0,0,0,0.2);
	border:1px solid #8a9ba0;
	background: #F0F5F7;
	padding:0 20px 20px;
	margin-bottom: 55px;
	position:relative;	
}
#poemShowcase p {
	font-weight:bold;	
}

#poemShowcase a {
	text-decoration:none;
	color:#000000;	
}